@*route parameter*@
@*@page "{id?}"*@
@page "/employees/view/{id}"
@model RazorPagesTutorial.Pages.Employees.DetailsModel
@{
    ViewData["Title"] = "Details page";
    //var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.png");
    var photoPath = "~/images/" + (Model.Employee.PhotoPath ?? "noimage.png");
}
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
                @*<h3>Id: @Model.Id</h3>*@
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true"/>
                <h4>employee id: @Model.Employee.Id</h4>
                <h4>email: @Model.Employee.Email</h4>
                <h4>department: @Model.Employee.Department</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-page="Index" class="btn btn-primary">back</a>
                <a href="#" class="btn btn-primary">edit</a>
                <a href="#" class="btn btn-danger">delete</a>
            </div>
        </div>
    </div>
</div>